		/* load google font */

		@import url(http://fonts.googleapis.com/css?family=PT+Sans);


		html {
			-webkit-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
			font-family: 'PT Sans';
			text-size-adjust: 100%;
			font-size: 18px;
			line-height: 24px;

}

		h1 {
			font-size: 10em;
			font-weight: bold;
			color: #FFFFFF;
			text-transform: uppercase;
			text-align: center;
			padding-top: 22.5%;

}

		h2 {
			font-size: 5em;
			color: #FFFFFF;
			text-align: center;
			padding-top: 20%;
}

		h3 {
			font-size: 42px;
			font-weight: bold;
     		color: #FFFFFF;
			text-transform: uppercase;
			text-align: center;
			padding-top: 35%;
}

		p {
			color: #FFFFFF;
			text-align: left;
			padding-top: 85%;
			font-size: 16px;
}
		a {
			color: #FFFFFF;
}



/* changes link hover color to grey */

		a:hover {
			color: #707070;
}

		#header{
			position: relative;
			margin-top: 20%;
}

		#background{
			position: fixed;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			width: 100%;
			z-index: -1;
}

		html, body {
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			height: 100%;
			width: 75%;
			max-width: 800px;
}


/* limits the page from going super widw */

		#content{
			max-width: 640px;
}


/* media query. Depending on screen size, the following style gets applied */

	@media all and (min-width: 1100px) {
		h1{
			font-size: 9em;
	}
		h3{
			font-size: 30px;
	}
		p{
			margin-bottom: 15%;
	}
}

	@media all and (max-width: 1099px) and (min-width: 730px) {
		h1{
			color: #FFFFFF;
			font-size: 6em;
			padding-top: 17.5%;
	}
		h2{
			font-size: 4em;
	}
		h3{
			font-size: 25px;
	}
		p{
			font-size: 14px;
			margin-bottom: 25%;
	}
}

	@media all and (max-width: 729px) and (min-width: 100px) {
		html, body {
			width: 90%;
	}
		#header{
			position: relative;
	}
		h1{
			font-size: 3.5em;
			padding-top: 12.5%;
	}
		h2{
			font-size: 2em;
			padding-top: 25%;
	}
		
		h3{
			font-size: 14px
	}
		p{
			font-size: 12px;
			margin-bottom: 5%;
	}
}

	@media all and (max-width: 500px) and (min-width: 100px){
		#background {
			min-height: 100%;
			min-width: 1280px;
			width: 100%;
			height: auto;
			position: fixed;
			top: 0;
			left: 0;
	}
		
}
	
	@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { 
 		#background {
			min-height: 100%;
			min-width: 1280px;
			width: 100%;
			height: auto;
			position: fixed;
			top: 0;
			left: 0; 
	}
		h2{
			font-size: 2em;
			padding-top: 25%;
	}
}